body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* .navclassdiv{
    background-color: rgb(252, 111, 60);
} */

main {
    background-color: #331488;
    margin: 1px;
    border: 5px solid #faf7f7;
    box-shadow: inset 0px -2px 5px 5px rgb(194 190 190 / 37%);
}

.navclass {
    /* margin: auto; */
    /* margin-top: -20px; */
    background-color: rgb(136 52 22);
    height: 10vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    color: white;
    position: sticky;
    padding-left: 2%;
    font-family: cursive;
    font-style: italic;
    font-weight: 600;
    margin-bottom: 5rem
}

.inputtype1 {
    display: flex;
    justify-content: space-evenly;
    margin: 1%;
}

.inputtype2 {
    display: flex;
    justify-content: space-evenly;
    margin: 2%;
}

.inputtype3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 5rem;
}

.place-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.getinput {
    border: 2px solid #2b1c1cb3;
    border-radius: 9px;
    text-align: center;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    font-size: 1rem;
    font-family: fantasy;
    color: #b49696a3;
    box-shadow: inset 0 0 5px 5px rgb(194, 190, 190);
    background: #fff;
}

.text {
    color: #00000086;
    padding-left: 4rem;
    padding-right: 4rem;
}

.text2 {
    padding-left: 2rem;
    padding-right: 2rem;
}


/* .cards {
    display: flex;
    justify-content: center;
} */

#ingradients {
    text-align: center;
}

.text-style1 {
    color: #31158dc2;
    font-family: cursive;
    text-align: center;
}

.extracard-main {
    display: flex;
    /* margin: 20px; */
    justify-content: space-evenly;
}

.extracard {
    /* border: 1px solid black; */
    height: 60vh;
    width: 23vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: 0px 0px 9px 5px rgb(162 141 141 / 69%);
    border: 2px solid rgb(156 125 125 / 69%);
    border-radius: 7px;
}

.extracard-info {
    /* border: 1px solid black; */
    height: 24vh;
    width: 23vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-content: center;
    background-color: rgb(182 72 33);
    color: #ffdcdc;
    align-items: center;
    font-family: system-ui;
}

.break-fasth3 {
    margin: 0px;
}

.breakfase-section {
    font-weight: 700;
}

#generateBtn {
    background-color: rgb(177 53 9);
    cursor: pointer;
    border-radius: 19px;
    color: #efdddd;
    font-size: 1.1rem;
    padding-top: 3px;
    padding-bottom: 3px;
    box-shadow: 0px 0px 2px 2px rgb(141 97 97 / 96%);
    border-color: #363232;
}

#generateBtn:hover {
    background-color: rgb(97, 28, 3);
}

#generateBtn:active {
    transform: translatey(3px);
}

.btn {
    color: gainsboro;
    border-color: #c6b4b4;
    background-color: rgb(53 41 36);
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.codedBy{
    padding: 10px;
    margin-left: 50px;
    color: rgb(225, 218, 218);
}
.error {
    color: red;
  }

  #heightValidation,
  #weightValidation,
  #ageValidation,
  #gendervalidation,
  #activityValidation{
    display: flex;
    flex-direction: column;
    color: red;
  }
 

@media (max-width: 600px) {
    .inputtype1,
    .inputtype2,
    .getinput,
    #gender,
    #activity {
        flex-direction: column;
        margin: 2%;
    }
}

@media (max-width: 630px) {
    .extracard-main {
        flex-direction: column;
        margin: 20%;
        display: flex;
        justify-items: center;
        /* justify-content: space-around; */
    }
    .extracard {
        /* border: 1px solid black; */
        height: 50vh;
        width: 60vw;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        justify-content: center;
        margin-bottom: 30px;
        /* box-shadow: 10px; */
    }
    .extracard-info {
        /* border: 1px solid black; */
        height: 24vh;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        align-content: space-evenly;
        background-color: rgb(252, 111, 60);
        color: white;
    }
    .codedBy{
        
        margin-left: 10px;
      
    }
}

.extracard img {
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* position: relative; */
    /* width: 20vw; */
    /* margin-top: 0; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipetablemaindiv {
    background-color: rgb(201, 199, 199);
    display: flex;
    /* justify-content: center; */
    margin: auto;
    border-radius: 15px;
    margin-top: 60px;
    width: 90%;
    /* text-align: center; */
    justify-content: space-evenly;
    align-items: center;
    /* padding: 10px; */
    line-height: 32px;
    margin-bottom: 15px;
    align-items: flex-start;
    /* flex-wrap: wrap; */
    padding: 10px 20px;
}

#ingradients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-right: 40px;
}

#equipmentSection {
    margin-left: 40px;
}

th {
    color: rgb(252, 111, 60);
    font-size: 25px;
}

#stepSection {
    margin-top: 0px;
}

td {
    margin: 100px 0;
    padding-bottom: 10px;
    line-height: 40px;
}

@media (max-width:540px) {
    td {
        /* background-color: red; */
        line-height: 25px;
    }
    #equipmentSection {
        margin-left: 20px;
        margin-right: 10px;
    }
    #ingradients {
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        margin-right: 25px;
        margin-left: 10px;
    }
    .recipetablemaindiv {
        width: 90%;
    }
    .codedBy{
        
        margin-left: 10px;
      
    }
}

@media (max-width:400px) {
    .recipetablemaindiv {
        margin-top: -60px;
    }
    #equipmentSection {
        margin-left: 10px;
        margin-right: 10px;
    }
    #ingradients {
        /* display: flex; */
        /* flex-direction: column; */
        /* flex-wrap: wrap; */
        margin-right: 15px;
        margin-left: 10px;
    }
    .recipetablemaindiv {
        width: 85%;
    }
    .codedBy{
        
        margin-left: 10px;
      
    }
}